# Python
__pycache__/
*.py[cod]

# Virtual environment
.venv/
venv/

# Jupyter
.ipynb_checkpoints/

# macOS
.DS_Store

# VS Code
.vscode/

# Environment variables
.env

# Streamlit secrets
.streamlit/secrets.toml

# Local database
prediction_logs.db

# Python cache
.pytest_cache/

# Build
build/
dist/